.App {
  text-align: center;
  width: 1000px;
  background-color: rgb(126, 225, 255);
  padding: 50px;
  margin: 70px auto;
  border: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-group {
  border-radius: 0%;
}

.list-group-item:first-child {
  margin-top: 0;
}

.list-group {
  border-radius: 0%;
}

.list-group-item:first-child {
  margin-top: 0;
}

.btn{
  border-radius: 0%;
  background-color: lightgrey;
  border: 1px solid black;
  border-top: none;
}

.row>*{
  padding: 0;
}

.list-group-item{
  border: 1px solid black !important;
  margin-top: 3px;
}

.min-height{
  border: 1px solid black;
  min-height: 400px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}
.offset{
  padding: 0;
 }

 .form-control{
  padding: 15px;
  border-radius: 0%;
  border: 1px solid black;
  border-top: none;
}

.align-self-end{
  margin-top: 10px;
}